:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 8%, 14%);
  --font-light-weight: 500;
  --font-heavy-weight: 700;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: var(--font-heavy-weight);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--neutral-grayish-violet);
}

ul {
  list-style: none;
}

.btn {
  border: none;
  background-color: var(--primary-cyan);
  padding: 0.9rem 1.8rem;
  border-radius: 40px;
  color: white;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(143, 226, 226);
}

.wrapper {
  margin-left: 10rem;
  margin-right: 10rem;
}

.header {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  color: var(--primary-dark-violet);
  margin-right: 3rem;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.link,
.login {
  margin-right: 1.8rem;
}

.link:hover,
.login:hover {
  color: var(--neutral-very-dark-violet);
}

.hamburger-menu__btn {
  display: none;
}

@media (max-width: 1024px) {
  .wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .hamburger-menu__btn {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(77, 77, 77, 0.5);
  }

  .header {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    justify-content: space-between;
  }
}

.hero {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
}

.hero-left {
  min-width: 50%;
  margin-right: 5rem;
}

.hero-headline {
  font-size: 4.3rem;
  line-height: 1.1;
  font-weight: bolder;
  color: var(--neutral-very-dark-violet);
}

.hero-text {
  color: var(--neutral-gray);
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.get-started__btn {
  font-size: 1.2rem;
}

.hero-right {
  margin-right: -300px;
}

@media (max-width: 425px) {
  .hero {
    flex-direction: column-reverse;
    margin-bottom: 9rem;
  }

  .hero-right > img {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .hero-left {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .hero-headline {
    font-size: 2.3rem;
    margin-bottom: 0.7rem;
  }

  .hero-text {
    font-size: 1rem;
  }
}

.search {
  width: 100%;
  background-color: var(--primary-dark-violet);
  background-image: url("./images/bg-shorten-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  border-radius: 10px;
  transform: translateY(-50%);
  position: relative;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search__input {
  height: 3rem;
  flex: 1;
  border-radius: 10px;
  margin-right: 1rem;
  outline: none;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: var(--font-heavy-weight);
  color: var(--neutral-grayish-violet);
}

.search__btn {
  width: 9rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: var(--font-heavy-weight);
}

.loading {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: rgb(255, 255, 255);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  .search {
    padding: 1.2rem;
  }

  .search-wrapper {
    flex-direction: column;
  }

  .search__input {
    height: 5rem;
    width: 100%;
    padding: 0.9rem;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .search__btn {
    width: 100%;
  }
}

.results-wrapper {
  margin-top: -3rem;
  margin-bottom: 7rem;
}

.result {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 10px;
}

.result-data {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.result-data__left {
  color: var(--neutral-very-dark-violet);
}

.result-data__right {
  color: var(--primary-cyan);
}

.copy-btn {
  margin-left: 1.5rem;
  border-radius: 10px;
}

.copied {
  background-color: var(--primary-dark-violet);
}

@media (max-width: 425px) {
  .results-wrapper {
    margin-bottom: 4rem;
  }

  .result {
    align-items: flex-start;
    flex-direction: column;
  }

  .result-data {
    flex-direction: column;
    font-size: 1rem;
  }

  .result-data__left {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--neutral-gray);
  }

  .result-data__right {
    padding: 0.8rem 0;
  }

  .copy-btn {
    width: 100%;
    margin-left: 0;
  }
}

.main {
  background-color: var(--neutral-gray);
  padding-bottom: 9rem;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.info-text {
  margin-bottom: 4rem;
  text-align: center;
  width: 50%;
}

.info-text > h2 {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: bolder;
}

.info-text > p {
  color: var(--neutral-grayish-violet);
  font-size: 1.1rem;
}

.box-wrapper {
  display: flex;
  gap: 2rem;
  position: relative;
  margin-bottom: 4rem;
}

.box-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom: 10px solid var(--primary-cyan);
  top: 50%;
}

.box {
  background-color: white;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;
  z-index: 1;
}

.box-2 {
  transform: translateY(2.5rem);
}

.box-3 {
  transform: translateY(5rem);
}

.box-logo {
  background-color: var(--primary-dark-violet);
  height: 5rem;
  width: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: translateY(-50%);
}

.logo-1 {
  background-image: url("./images/icon-brand-recognition.svg");
}

.logo-2 {
  background-image: url("./images/icon-detailed-records.svg");
}

.logo-3 {
  background-image: url("./images/icon-fully-customizable.svg");
}

.box-headline {
  color: var(--neutral-very-dark-violet);
  margin-bottom: 1rem;
  margin-top: -1.2rem;
  font-size: 1.4rem;
}

.box-para {
  color: var(--neutral-grayish-violet);
}

@media (max-width: 768px) {
  .info-text {
    width: 100%;
    text-align: center;
  }

  .info-text > h2 {
    font-size: 1.7rem;
  }

  .info-text > p {
    font-size: 1rem;
  }

  .box-wrapper {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .box-wrapper::before {
    height: 100%;
    left: 0;
    border-bottom: none;
    border-left: 10px solid var(--primary-cyan);
    top: 0;
    left: 50%;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box > p {
    font-size: 0.95rem;
  }
}

.get-started {
  background-color: var(--primary-dark-violet);
  padding: 3rem;
  text-align: center;
  background-image: url("./images/bg-boost-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.get-started-headline {
  color: white;
  font-size: 2rem;
  font-weight: var(--font-heavy-weight);
  margin-bottom: 1.5rem;
}

@media (max-width: 425px) {
  .get-started {
    padding: 4rem 0 4rem 0;
  }

  .get-started-headline {
    font-size: 1.6rem;
  }
}

.footer {
  background-color: var(--neutral-very-dark-violet);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.footer-logo,
.footer-links > h3 {
  color: white;
}

.footer-logo > h2 {
  font-size: 2rem;
}

.footer-links-container {
  display: flex;
}

.footer-links {
  margin-right: 4rem;
}

.footer-links > h3 {
  margin-bottom: 1.2rem;
}

.footer-links > ul > li {
  margin-bottom: 0.6rem;
}

.social-media > ul {
  display: flex;
  gap: 1.2rem;
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .footer-logo {
    margin-bottom: 2.5rem;
  }

  .footer-logo > h2 {
    font-size: 2rem;
  }

  .footer-links-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 2.5rem;
    margin-right: 0;
    text-align: center;
  }

  .footer-links > h3 {
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }

  .footer-links > ul > li {
    margin-bottom: 0.8rem;
    font-size: 0.85rem;
  }
}
