:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 8%, 14%);
  --font-light-weight: 500;
  --font-heavy-weight: 700;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: var(--font-heavy-weight);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--neutral-grayish-violet);
}

ul {
  list-style: none;
}

.btn {
  border: none;
  background-color: var(--primary-cyan);
  padding: 0.9rem 1.8rem;
  border-radius: 40px;
  color: white;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(143, 226, 226);
}

.wrapper {
  margin-left: 10rem;
  margin-right: 10rem;
}

.header {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  color: var(--primary-dark-violet);
  margin-right: 3rem;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.link,
.login {
  margin-right: 1.8rem;
}

.link:hover,
.login:hover {
  color: var(--neutral-very-dark-violet);
}

.hamburger-menu__btn {
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hamburger-menu__btn {
    display: block;
  }

  .nav {
    display: none;
  }

  .header {
    justify-content: space-between;
  }
}

.hero {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
}

.hero-left {
  min-width: 50%;
  margin-right: 5rem;
}

.hero-headline {
  font-size: 4.3rem;
  line-height: 1.1;
  font-weight: bolder;
  color: var(--neutral-very-dark-violet);
}

.hero-text {
  color: var(--neutral-gray);
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.get-started__btn {
  font-size: 1.2rem;
}

.hero-right {
  margin-right: -300px;
}

.search {
  width: 100%;
  background-color: var(--primary-dark-violet);
  background-image: url("./images/bg-shorten-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  border-radius: 10px;
  transform: translateY(-50%);
  position: relative;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search__input {
  height: 3rem;
  flex: 1;
  border-radius: 10px;
  margin-right: 1rem;
  outline: none;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: var(--font-heavy-weight);
  color: var(--neutral-grayish-violet);
}

.search__btn {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: var(--font-heavy-weight);
}

.main {
  background-color: var(--neutral-gray);
  padding-bottom: 9rem;
}

.info-text {
  margin-bottom: 4rem;
}

.box-wrapper {
  display: flex;
  gap: 2rem;

  position: relative;
}

.box-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom: 10px solid var(--primary-cyan);
  top: 50%;
}

.box {
  background-color: white;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;
  z-index: 1;
}

.box-2 {
  transform: translateY(2.5rem);
}

.box-3 {
  transform: translateY(5rem);
}

.box-logo {
  background-color: var(--primary-dark-violet);
  height: 5rem;
  width: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: translateY(-50%);
}

.logo-1 {
  background-image: url("./images/icon-brand-recognition.svg");
}

.logo-2 {
  background-image: url("./images/icon-detailed-records.svg");
}

.logo-3 {
  background-image: url("./images/icon-fully-customizable.svg");
}

.box-headline {
  color: var(--neutral-very-dark-violet);
  margin-bottom: 1rem;
  margin-top: -1.2rem;
  font-size: 1.4rem;
}

.box-para {
  color: var(--neutral-grayish-violet);
}

.get-started {
  background-color: var(--primary-dark-violet);
  padding: 3rem;
  text-align: center;
  background-image: url("./images/bg-boost-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.get-started-headline {
  color: white;
  font-size: 2rem;
  font-weight: var(--font-heavy-weight);
  margin-bottom: 1.5rem;
}

.footer {
  background-color: var(--neutral-very-dark-violet);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.footer-logo,
.footer-links > h3 {
  color: white;
}

.footer-links-container {
  display: flex;
}

.footer-links {
  margin-right: 4rem;
}
